

h1 {
color: #785616;
}

nav {
	background-color: #FFB4B0;
	outline: #000 solid 2px;
	margin-bottom: 20px;
}

aside { 
    background-color: #4DD7FA;
    display: block;
    width: 20%;
    padding-right: 1px;
    margin-right: 20px;
    outline: #000 solid 2px;
    float: left;
    padding: 0 0 4px 0;
}

 /* aside drop down css begins*/
.artistdropdown {
  background:transparent;
   width: 297px;
   padding: 2px;
   font-family:Arial, Helvetica, sans-serif;
   font-size:1.2em;
   font-weight:600;
   color:#fff;
   line-height: 1px;
   border: 0;
   border-radius: 0;
   /*Hides the default arrows for Selects*/
  -webkit-appearance: none;
  -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.albumdropdown {
  background:transparent;
   width: 297px;
   padding: 2px;
   font-family:Arial, Helvetica, sans-serif;
   font-size:1.2em;
   font-weight:600;
   color:#fff;
   line-height: 1;
   border: 0;
   border-radius: 0;
   /*Hides the default arrows for Selects*/
  -webkit-appearance: none;
  -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
 /* aside drop down css ends */

main {
	background-color: #FEFAC0; 
	float: right;
	width: 100%
	
	display: block;
    outline: #000 solid 2px;
    float: left;
    padding: 0 600px 30px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #f4cf4c;
}

.aname {
    padding-left: 10px;
}


.Artist {
    padding-left: 10px;
}

.Album {
    padding-left: 10px;
}

.Genre{
padding-left: 10px;
}

.addmusic {
    padding: 60px 0 0 500px;
}

#rectangle {
    border: 1px solid black;
    width:300px;
    height:25px;
    background:white;
    
}




.Album {

}

.Artist {

}

.
.checkbox-grid li {
    display: inline-block;
    float: left;
    width: 25%;
    padding: 20px;
}

.add {
    border-radius: 60px;
    background-color: lightgray;
    width: 55px;
    text-align: center;
}

